<ul>
  <!-- Temporary message -->
  <% if flash[:msg] %>
    <li class="success"><%= flash[:msg] %></li>
  <% end %>
</ul>

<% if flash[:msg] %>
  <div class="w3-panel w3-green">
    <h3>Good Job!</h3>
    <p><i class="fa fa-check-circle"></i>        <%= flash[:msg]%></p>
  </div>
<% end %>
