<ul>
  <!-- Temporary message -->
  <% if flash[:msg] %>
    <li class="success"><%= flash[:msg] %></li>
  <% end %>
</ul>

<% if flash[:msg] %>
  <div class="w3-panel w3-green">
    <h3>Good Job!</h3>
    <p><i class="fa fa-check-circle"></i>        <%= flash[:msg]%></p>
  </div>
<% end %>


<div class="w3-container text-center">
  <div class="w3-row">
    <h2 class="section-title">Welcome to the Support Solutions Application</h2>
    <p class="section-sub-title margin-b-md">Here you can get started with your alimony &amp; child support application.</p>
    <%= link_to "Click here to get started", step_1_path,class:"button margin-md" %>
  </div>
</div>
