
<ul>
  <!-- Temporary message -->
  <% if flash[:msg] %>
    <li class="success"><%= flash[:msg] %></li>
  <% end %>
</ul>


<div class="jumbotron" style="height:700px">
  <h1 class="fancy-title" style="margin-top:200px">Welcome to PDF Creator!</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <%= link_to 'Create an Application', step_1_path, class:"button2 hvr-underline-from-center header-photo-btn" %>
        <%= link_to 'Create an Account', new_user_registration_path, class:"button hvr-underline-from-center header-photo-btn" %>
      </div>
    </div>
  </div>
</div>
