<ul>
  <!-- Temporary message -->
  <% if flash[:msg] %>
    <li class="success"><%= flash[:msg] %></li>
  <% end %>
</ul>


<div class="jumbotron" style="height:700px">
  <h1 class="fancy-title" style="margin-top:200px">Welcome to PDF Creator!</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <%= link_to 'Create an Application', step_1_path, class:"button2 hvr-underline-from-center header-photo-btn" %>
        <%= link_to 'Create an Account', new_user_registration_path, class:"button hvr-underline-from-center header-photo-btn" %>
      </div>
    </div>
  </div>
</div>

<div class="w3-container w3-card-4">

  <div class="w3-row-padding">
    <h2 class="section-title">Step 1 - Basic Information</h2>
    <p class="section-sub-title margin-b-md">This is some basic information in order to get to know you better.</p>
    <label>Address</label>
    <input class="w3-input w3-border" type="text" placeholder="Address">
    <label>City</label>
    <input class="w3-input w3-border" type="text" placeholder="City">
    <label>Zip</label>
    <input class="w3-input w3-border" type="text" placeholder="Zip">
  </div>

  <div class="w3-row-padding">
      <div class="w3-third">
        <label>Address</label>
        <input class="w3-input w3-border" type="text" placeholder="Address">
      </div>
      <div class="w3-third">
        <label>City</label>
        <input class="w3-input w3-border" type="text" placeholder="City">
      </div>
      <div class="w3-third">
        <label>Zip</label>
        <input class="w3-input w3-border" type="text" placeholder="Zip">
      </div>
  </div>

  <div class="w3-row-padding">
      <div class="w3-half">
        <label>First Name</label>
        <input class="w3-input w3-border" type="text" placeholder="First Name">
      </div>
      <div class="w3-half">
        <label>Last Name</label>
        <input class="w3-input w3-border" type="text" placeholder="Last Name">
      </div>
  </div>

  <div class="w3-row-padding margin-md">
    <div class="w3-content">
      <div class="w3-half">
        <p class="section-sub-title" style="text-align:left">Pick your Favorite Colors</p>
        <p>
          <input type="checkbox" id="test1" />
          <label for="test1">Red</label>
        </p>
        <p>
          <input type="checkbox" id="test2" />
          <label for="test2">Green</label>
        </p>
        <p>
          <input type="checkbox" id="test3" />
          <label for="test3">Blue</label>
        </p>
        <p>
          <input type="checkbox" id="test4" />
          <label for="test4">Yellow</label>
        </p>
      </div>
    </div>
  </div>

  <div class="w3-row-padding margin-md">
    <div class="w3-content">
      <p class="section-sub-title" style="text-align:left">Pick your Favorite Color</p>
        <p>
          <input type="radio" id="test5" name="radio-group">
          <label for="test5">Red</label>
        </p>
        <p>
          <input type="radio" id="test6" name="radio-group">
          <label for="test6">Green</label>
        </p>
        <p>
          <input type="radio" id="test7" name="radio-group">
          <label for="test7">Blue</label>
        </p>
        <p>
          <input type="radio" id="test8" name="radio-group">
          <label for="test8">Yellow</label>
        </p>
    </div>
  </div>

  <div class="w3-row-padding margin-md">
    <div class="w3-content">
      <p class="section-sub-title" style="text-align:left">What is your sex?</p>
        <div class="w3-quarter">
          <p>
            <input type="radio" id="test9" name="radio-group">
            <label for="test9">Male</label>
          </p>
        </div>
        <div class="w3-quarter">
          <p>
            <input type="radio" id="test10" name="radio-group">
            <label for="test10">Female</label>
          </p>
        </div>
    </div>
  </div>


</div>
