<h1 class="fancy-title">New Client Application</h1>

<%= form_with(model: @client, url: register_step_4_path, local: true, method: :post) do |form| %>
    <%= render 'step_4', form: form, client: @client %>
    <div class="container"><%= form.submit "Complete Step 4", class:"button hvr-underline-from-center header-photo-btn"%></div>
<% end %>
