<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new Support Solutions applicant has completed step 1</h1>
    <p>
      Client name: <%= "#{@client.first_name} #{@client.last_name}" %><br>
    </p>
    <p>
      Client email: <%= @client.email %><br>
    </p>
    <p>
      Client Phone Number: <%= @client.phone_number %><br>
    </p>
  </body>
</html>
