/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require devise_bootstrap_views
 */

  body{
    font-family:"Rubik";
  }

  .navbar{
    margin-top:-80px !important;
  }

  .form-label{
   font-size:15px;
   color:black;
  }

  .fancy-title{
    font-size:45px;
    border-bottom: 2px solid indigo;
    text-align:center;
    margin-bottom:50px;
  } to be paid to secure your representation and begin an immediate investigation.</p>

  .fancy-title-h2{
    font-size:25px;
    text-align:left;
    margin-bottom:15px;
  }

  .header-photo-btn {
      margin-top: 15px;
      font-size: 18px;
      color: white;
      text-decoration: none;
  }

  .button{
    background: #3b54a1;
    color: #fff;
    font-size: 17px;
    padding: 15px;
    border: none;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  .button2{
    background: #43a047;
    color: #fff;
    font-size: 17px;
    padding: 15px;
    border: none;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  .button .button2, a:hover{
    color:black !important;
    text-decoration:none !important;
  }

  a:hover{
    color: indigo !important;
    background-color:white !important;
  }

  a:active{
    color: indigo;
  }

  a{
    color:white !important;
    text-decoration:none;
  }

  tr{
    font-size:17px;
  }

  td{
    font-size:15px;
  }

  input[type=checkbox]{
    transform: scale(1.5);
  }

  .error{
    color:red;
    font-weight:bold;
    font-size:15px !important;
  }

  .success{
    color:green;
    font-weight:bold;
    font-size:15px !important;
  }

  .margin-sm{
    margin-top:20px;
  }

  .margin-md{
    margin-top:40px;
  }
