/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require devise_bootstrap_views
 */

  body{
    font-family:"Rubik";
  }

  p{
    font-size:17px !important;
  }

  /*NAVBAR*/

  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color:#4c4f55 !important;
  }

  .navbar-brand{
    height:110px !important;
    width:230px !important;
  }

  .navbar-default {
    color: black !important;
    border-bottom:#fefefe;
    height:130px;
    background-color: white;
    font-size:20px !important;
  }

  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color:black !important;
    background-color:none;
  }

  .navbar-brand.navbar-link {
    color:#fefefe;
  }

  .navbar-collapse{
    width:100% !important;
  }

  @media (max-width: 768px) {
    .navbar-header{
      height:60px;
    }
    .navbar-default .navbar-nav>li>a{
      margin-top:0px;
      text-align:left;
      margin-left:20px;
    }
  }


  @media (min-width: 768px) {
    .navbar-header{
      height:115px;
    }
    .navbar-default .navbar-nav>li>a{
      margin-top:40px;
      text-align:left;
      margin-left:0px;
    }
  }

  /*NAVBAR*/

  .form-label{
   font-size:15px;
   color:black;
  }

  .fancy-title{
    font-size:45px;
    text-align:center;
    margin-bottom:50px;
    color: #17874a;
  }

  .fancy-title-h2{
    font-size:25px;
    text-align:left;
    margin-bottom:15px;
  }

  .header-photo-btn {
      margin-top: 15px;
      font-size: 18px;
      color: white;
      text-decoration: none;
  }

  .button{
    background: #17874a;
    color: #fff;
    font-size: 17px;
    padding: 15px;
    border: none;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  .button2{
    background: #43a047;
    color: #fff;
    font-size: 17px;
    padding: 15px;
    border: none;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  a.button:link, a.button:hover, a.button:hover:link, a.button:visited{
    background: #17874a !important;
    color:white !important;
  }

  .button .button2, a:hover{
    color:black !important;
    text-decoration:none !important;
  }

  a:hover{
    color: indigo !important;
    background-color:white !important;
  }

  a:active{
    color: indigo;
  }

  a{
    color:#4c4f55 !important;
    text-decoration:none;
  }
  a:hover{
    color: #17874a !important;
  }
  ul{
    font-size:17px;
  }
  tr{
    font-size:17px;
  }

  td{
    font-size:15px;
  }

  .error{
    color:red;
    font-weight:bold;
    font-size:15px !important;
  }

  .success{
    color:green;
    font-weight:bold;
    font-size:15px !important;
  }

  .margin-sm{
    margin-top:20px;
  }

  .margin-md{
    margin-top:35px;
  }

  .margin-lg{
    margin-top:50px;
  }

  .margin-xl{
    margin-top:95px;
  }

  .margin-b-sm{
    margin-bottom:20px;
  }

  .margin-b-md{
    margin-bottom:35px;
  }

  .margin-b-lg{
    margin-bottom:50px;
  }

  .margin-b-xl{
    margin-bottom:95px;
  }

  input[type=text]{
    color:grey;
    border-radius: 0px,0px,0px,0px !important;
    width: 100%;
    height:35px;
    border-color:black !important;
  }

  input:focus {
    outline: none !important;
    box-shadow: 0 0 3px #17874a;
  }

  label{
    color:grey;
    margin-top:15px;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey !important;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: grey !important;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: grey !important;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: grey !important;
  }

  @media(max-width:768px){
    .section-title{
      font-size: 22px !important;
      color: #17874a;
      text-align: center;
      margin-bottom: 15px;
    }
    .section-sub-title{
      font-size:13px !important;
      color: grey;
      text-align: center;
    }
    .section-sub-title-left{
      font-size:13px !important;
      color: grey;
      text-align: left;
    }
    .field-explanation-title{
      font-size: 20px !important;
      color: #17874a;
      text-align: left;
      margin-bottom: 15px;
    }
    .field-explanation-sub-title{
      font-size:13px !important;
      color: grey;
      text-align: left;
    }
  }

  @media(min-width:768px){
    .section-title{
      font-size: 39px !important;
      color: #17874a;
      text-align: center;
      margin-bottom: 15px;
    }
    .section-sub-title{
      font-size:18px !important;
      color: grey;
      text-align: center;
    }
    .section-sub-title-left{
      font-size:18px !important;
      color: grey;
      text-align: left;
    }
    .field-explanation-title{
      font-size: 25px !important;
      color: #17874a;
      text-align: left;
      margin-bottom: 15px;
    }
    .field-explanation-sub-title{
      font-size:15px !important;
      color: grey;
      text-align: left;
    }
  }

  .w3-container{
    padding:40px !important;
  }

  .w3-field-padding{
    padding-left:15px !important;
    padding-right:15px !important;
  }

  /*W3 PANEL*/

  .w3-panel-padding{
    padding:10px !important;
  }

  @media(min-width:768px){
    .w3-panel{
      font-size:17px !important;
    }
  }

  @media(max-width:768px){
    .w3-panel{
      font-size:14px !important;
    }
  }

  /*W3 PANEL*/

  /*ERROR STYLING*/
  .field_with_errors{
    background-color:#f44336;
    display:block;
  }


  /*CUSTOM CHECKBOX*/
  /* Base for label styling */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
  }

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 1.25em; height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  }
  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: .2em; left: .275em;
    font-size: 1.4em;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
    font-family: Helvetica, Arial, sans-serif;
  }
  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  /* disabled checkbox */
  [type="checkbox"]:disabled:not(:checked) + label:before,
  [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
  }
  [type="checkbox"]:disabled:checked + label:after {
    color: #999;
  }
  [type="checkbox"]:disabled + label {
    color: #aaa;
  }
  /* accessibility */
  [type="checkbox"]:checked:focus + label:before,
  [type="checkbox"]:not(:checked):focus + label:before {
    border: 2px dotted #17874a;
  }

  /* hover style just for information */
  label:hover:before {
    border: 2px solid #4778d9!important;
  }

  /*CUSTOM CHECKBOX*/

  /*CUSTOM RADIO BUTTON*/

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #666;
      margin-top:-15px !important;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #ddd;
      border-radius: 100%;
      background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 12px;
      height: 12px;
      background: #17874a;
      position: absolute;
      top: 4px;
      left: 4px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }

  [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }

  /*CUSTOM RADIO BUTTON*/
